test/
__pycache__
*.env
*.json
*.html
userdetails/
Frontend/
utils/native
testfile.py
testingendpoints/
test.py
endpoint.md
endpointref.md
package/V1/
*.exe
plan.txt
Codexplan/
env/
# PyInstaller build artifacts
package/build/
package/dist/
package/*.spec